<section>
  <div class="container-fluid">
    <div class="card bg-light mb-3 assemblyTextType">
      <div class="card-body">
        <h2>建立帳本</h2>
        <hr>
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-5 my-3 text-center">
            <h3>個人帳本</h3>
            <img src="assets/images/index/personal-ledger.svg" style="max-width:10rem;">
            <p class="text-muted mt-3">適合給個人、一般家庭使用，最純粹簡單的帳本</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#setLedgerModal" (click)="setType('personal')">建立個人帳本</button>
          </div>
          <div class="col-xl-4 col-lg-5 my-3 text-center">
            <h3>組織帳本</h3>
            <img src="assets/images/index/organization-ledger.svg" style="max-width:10rem;">
            <p class="text-muted mt-3">適合給一個組織共同記帳所使用，可以設置編輯權限與公開權限</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#setLedgerModal" (click)="setType('organization')">建立組織帳本</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="modal fade" id="setLedgerModal" tabindex="-1" role="dialog" aria-labelledby="setLedgerModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content assemblyTextType">
        <form>
          <div class="modal-header">
            <h5 class="modal-title" id="setLedgerModalTitle">建立帳本</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">建立帳本</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>