<header>
  <nav class="navbar navbar-dark fixed-top navbar-expand-md bg-navy assemblyTextType" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">myLedger</a>
      </div>
      <div class="collapse navbar-collapse justify-content-between" id="myNavbar">
         <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/']"><i class="fa fa-home"></i> 首頁</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/signup']">註冊</a>
            <a class="nav-item nav-link" [routerLink]="['/signin']">登入</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="mt-5 pt-3">
    <router-outlet></router-outlet>
  </div>
</main>