.nav-limitshow {
    display: none;
}

.nav-dropdown-position {
    margin-right: 0;
}

@media(max-width:991px) {
    .nav-limitshow {
        display: inline;
    }

    .nav-dropdown-position {
        margin-right: 1rem;
    }

    .nav-search {
        margin-top: 20px;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: #624488;
        overflow-x: hidden;
        padding-top: 60px;
        flex-direction: column !important;
    }

    .sidenav .nav-item {
        padding: 0.75rem;
        display: list-item;
    }

    .mainblock {
        margin-left: 210px;
    }

    .nav-search {
        margin-left: 90px;
    }
}

@media(min-width:1200px) {
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: #624488;
        overflow-x: hidden;
        padding-top: 60px;
        flex-direction: column !important;
    }

    .sidenav .nav-item {
        padding: 1rem;
        display: list-item;
    }

    .mainblock {
        margin-left: 260px;
    }

    .nav-search {
        margin-left: 140px;
    }
}